    .bg-purple, .text-bg-purple {
        background-color: mediumpurple;
    }

    .bg-dark-purple {
        background-color: rebeccapurple;
    }

    .text-purple {
        color: mediumpurple;
    }
